@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('fonts/SFProText-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Stencil Std';
    src: url('fonts/StencilStd.woff2') format('woff2'),
        url('fonts/StencilStd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}